.carousel {
    max-width: 60vw;
    margin: auto;
    padding: 1em;
}

.slickDots li button::before{
    color: #fff !important;
    font-size: 10px;
}

.slickDots li.slick-active button::before {
    color: #4caf50;
  }