.albumCard {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px rgb(46, 46, 46, 0.5);
    background-color: #0c0b0b;
    transition: 0.2s linear;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: #4b4a4a;
    width: 300px;
    aspect-ratio: 1/1;
    margin: auto;
    text-decoration: none;
}

.albumCard img {
    width: 250px;
    border-radius: .3em;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
}

.info h2 {
    margin: 0.75em 0 0;
    font-size: 1.75em; 
    font-weight: bold;
    overflow-wrap: break-word;
}

.info h3 {
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    font-style: italic;
}

.info p {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 0;
}

.bottom {
    display: block;
    position: absolute;
    left: 50%;
    bottom: .75em;
    transform: translateX(-50%);
    opacity: 0;
    border: 1px solid #0b1219;
    border-radius: 5px;
    color: #dbdbdb;
    background-color: #424242;
    text-align: center;
    padding: .75em 1.5em;
    font-size: 1.25em;
    text-decoration: none;
}

.albumCard:hover {
    cursor: pointer;
    box-shadow: 6px 6px rgb(46, 46, 46, 0.5);
    transform: translate(-3px, -3px);

    .info {
        opacity: 0;
    }

    .bottom {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .albumCard,
    .albumCard img {
        width: 200px;
    }

    .info h2 {
        font-size: 1.5em;
    }
    
    .info h3 {
        font-size: 1.25em;
    }
    
    .info p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .albumCard {
        width: 200px;
    }

    .albumCard img {
        width: 200px;
    }

    .info h2 {
        font-size: 1.25em;
    }
    
    .info h3 {
        font-size: 1em;
    }
    
    .info p {
        font-size: 0.75em;
    }
}