.container {
    background-color: #080808;
    display: flex;
    justify-content: space-around;
    font-family: 'Outfit', sans-serif;
    color: #9c9fa1;
    gap: 1em;
}

.contactInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quickLinks {
    display: flex;
    justify-content: center;
}

.socialMedia {
    display: flex;
    justify-content: center;
}

.copyright {
    text-align: center;
}

.container li {
    list-style: none;
    margin: 10px 30px;
}

.container a {
    text-decoration: none;
    font-size: 1.5em;
    color: #9c9fa1;
}

.socialMedia a {
    font-size: 2em;
    padding: 0 30px;
}

.infoContainer a:hover,
.socialMedia a:hover {
    color: #fff;
    transform: scale(1.1);
}

.infoContainer li:hover {
    transform: scale(1.1);   
}

@media (max-width: 768px) {
    .container {
        padding: 1em;
        flex-direction: column;
        align-items: center;
    }

    .infoContainer, .quickLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5em;
        width: 100%;
        padding: 0;
    }

    .contactInfo li {
        font-size: 0.7em;
    }

    .infoContainer a {
        font-size: 1em;
    }
    .socialMedia a {
        font-size: 1.8em;
    }

    .quickLinks {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0.5em;
        flex-direction: column;
        align-items: center;
    }

    .infoContainer, .quickLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
        width: 100%;
        padding: 0;
    }

    .contactInfo {
        padding: 0;
        margin: 0;
    }

    .contactInfo li {
        font-size: 0.6em;
    }

    .socialMedia a {
        font-size: 1.2em;
    }

    .quickLinks {
        display: flex;
        justify-content: center;
        font-size: 0.7em;
    }
}