.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: fixed;
    margin-top: -4.05em;
    top: 50%;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #ec2e2e;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    z-index: 999;
    overflow: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}