.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    margin-top: 2em;
    padding-bottom: 2em;
}

.container button {
    padding: 0.5em 1em;
    background-color: #000000;
    color: #fff;
    border-radius: 0.5em;
    font-size: 1.25em;
    border: 1px solid #949494;
    cursor: pointer;
    margin: 0 2em 0;
}

.container span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    background-color: rgb(85, 85, 85);
    font-size: 1.25em;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

button:disabled {
    background-color: #353535;
    opacity: 0.8;
    cursor: auto;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        margin-bottom: 2em;
    }

    .container button {
        font-size: 1em;
    }

    .container span {
        font-size: 1.25em;
    }
}

@media (max-width: 480px) {
    .container {
        margin-bottom: 2em;
    }

    .container button {
        font-size: 0.75em;
    }

    .container span {
        font-size: 1em;
    }
}