.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    font-weight: 500;
    font-family: 'New Rocker', sans-serif;
    max-height: 80px;
    background-color: #222;
    z-index: 1;
}

.left {
    display: flex;
    justify-content: start;
    width: 50%;
    gap: 2em;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
    padding-left: 1em;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: end;
}

.logoContainer p {
    font-size: 1.5em;
    color: #ec2e2e;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.container span {
    font-size: 0.8em;
    color: #fff;
    margin: auto 1em 0.5em;
    white-space: nowrap;
}

.items {
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    gap: 0.5em;
}

.auth,
.guest {
    display: flex;
}

.menu li {
    list-style: none;
    padding: 0.3em 0.3em 0
}

.menu a {
    color: #ec2e2e;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    transition: transform 0.3s ease;
}

.menu a:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.menu a.active {
    color: #8d8d8d;
    text-decoration: underline;
    scale: 1.2;
    transform-origin: bottom;
}

.hamburger,
.mobileMenu {
    display: none;
}

@media (max-width: 768px) {
    .container {
        position: relative;
        width: 100%;
        display: flex;
        max-height: none;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        font-family: 'New Rocker', sans-serif;
        background-color: rgba(131, 131, 131, 0.7);
    }

    .left {
        display: flex;
        align-items: center;
        font-size: 0.6em;
        margin-bottom: auto;
        margin-top: 0.2em;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        align-items: end;
    }

    .logo {
        height: 30px;
    }

    .items {
        display: none;
    }

    .hamburger {
        display: flex;
        font-size: 2em;
        padding: 0.3em;
        color: #fff;
        max-width: 100%;
    }

    .mobileMenu.mobileActive {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-right: 0.7em;
    }

    .mobileMenu .auth,
    .mobileMenu .guest {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .mobileMenu span {
        margin: 0;
        font-size: 0.6em;
    }
}