.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(219deg, rgba(226,31,14,0.5) 0%, rgba(19,4,4,1) 34%, rgba(136,136,136,1) 100%);
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: rgb(109, 109, 109);
    height: auto;
    border-radius: 0.5em;
    gap: 3em;
    padding: 1em;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.contactInfo li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.75em;
}

.contactInfo li svg {
    display: block;
    margin-bottom: 0.5em;
    font-size: 2em;
}

.infoContainer li {
    list-style: none;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin:auto 1.5em;
    flex: 1;
    height: 100%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
  }

.inputGroup input, textarea {
    border: none;
    border-radius: 0.3em;
    padding: 0.8em;
    margin-bottom: 0.75em;
    outline: none;
}

.inputGroup input::placeholder,
.inputGroup textarea::placeholder {
  opacity: 0.5;
  color: #a0a0b2;
}

.formContainer h3 {
    text-align: center;
    font-size: 1.5em;
}

.formContainer button {
    display: inline-block;
    background: #ec2e2e;
    border: none;
    padding: 0.5em 1em;
    margin-left: auto;
    border-radius: 0.5em;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: auto;
}

.validationError {
    color: #c00000;
    font-size: 0.8em;
    margin-bottom: 0.3em;

    position: absolute;
    top: 90%;
    left: 0;
}

.error {
    font-size: 1em;
    color: #c00000;
}