.container {
    display: flex;
    flex-direction: column;
    gap: 5em;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 5em 0;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin-top: 8em;
    background-color: rgb(58, 58, 58);
    color: #fff;
    height: auto;
    border-radius: 0.5em;
    gap: 3em;
    padding: 1em;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.contactInfo li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.75em;
}

.contactInfo li svg {
    display: block;
    margin-bottom: 0.5em;
    font-size: 2em;
}

.infoContainer li {
    list-style: none;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: auto 1.5em;
    flex: 1;
    height: 100%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 900px;
}

.map p {
    color: #fff;
    font-size: 1.5em;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}

.inputGroup input,
textarea {
    border: none;
    border-radius: 0.3em;
    padding: 0.8em;
    margin-bottom: 0.75em;
    outline: none;
}

.inputGroup input::placeholder,
.inputGroup textarea::placeholder {
    opacity: 0.5;
    color: #a0a0b2;
}

.formContainer h3 {
    text-align: center;
    font-size: 1.5em;
}

.formContainer button {
    display: inline-block;
    background: #ec2e2e;
    border: none;
    padding: 0.5em 1em;
    margin-left: auto;
    border-radius: 0.5em;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: auto;
}

.validationError {
    color: #c00000;
    font-size: 0.8em;
    margin-bottom: 0.3em;

    position: absolute;
    top: 90%;
    left: 0;
}

.error {
    font-size: 1em;
    color: #c00000;
}

@media (max-width: 640px) {
    .container {
        gap: 2em;
        margin: 1em 0;
        height: auto;
    }
    
    .contacts {
        width: 300px;
        margin-top: 1em;
        gap: 1em;
    }

    .formContainer {
        gap: 1em;
        padding-right: 1em;
    }
    
    .contactForm {
        gap: 1em;
    }

    .formContainer h3 {
        font-size: 1em;
    }

    .map p {
        font-size: 1em;
    }
}